body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

input[type="file"] {
  display: block;
  margin: 20px auto;
}

h2 {
  text-align: center;
  margin-top: 20px;
}
